.well
  = form_for @game, html: { class: 'form-horizontal' } do |f|
    - if @game.errors.any?
      #error_explanation
        %h2
          = pluralize(@game.errors.count, "error")
          prohibited
          this game from being saved:
        %ul
          - @game.errors.full_messages.each do |msg|
            %li= msg


    .form-group
      = f.label :title, class: 'control-label col-sm-1'
      .col-sm-10
        = f.text_field :title, class: 'form-control'
        
    %p.actions
      = f.submit class: 'btn btn-primary'
      = link_to 'Back', games_path, class:"btn btn-default"
