= button_to 'Start a new Game', new_game_path, class:"btn btn-primary title-button", method: :get
%h1 Games

- @games.each do |game|
  .well.game-container
    = link_to status_label_for(game), game

    %h3.title= link_to game.title, game

    - if current_user_game_owner?(game, current_user.id)
      = render partial: 'actions', locals: {game: game}

    %p.description= "Owner: #{game.owner_name}"
