%tr
  - if current_user.id != player.user_id || action_name == 'show_results' || game_is_open?(game)
    %td
      %span.panel-primary= player.name
      = image_tag(player.image, alt: "player")
      %span.badge.badge-size= player.votes_for if action_name == 'show_results'

    - if game_is_live?(game) && current_user.id != player.user_id && action_name != 'show_results'
      %td{style: 'line-height: 3.6'}
        - if @current_player.voted? && @current_player.voted_for?(player)
          = link_to unvote_game_player_path(game, player), method: :post do
            %span.glyphicon.glyphicon-remove.icon-size.icon-danger
        - elsif !@current_player.voted?
          = link_to upvote_game_player_path(game ,player), method: :post do
            %span.glyphicon.glyphicon-ok.icon-size.icon-success

  - if game_is_open?(game) && is_current_user_game_owner?(game,current_user.id)
    %td= link_to 'Delete', game_player_path(game, player), method: :delete, class:"btn btn-danger"
