!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type", name: "viewport", content: "width=device-width, initial-scale=1"}
    %title TheVoting
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', type: 'button'}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = link_to 'The Voting Game', root_path, class: 'navbar-brand'
          %p.navbar-text= show_user_name
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.pull-right
            %li= show_login_button
  .container
    - unless notice.blank?
      %p.alert.alert-success= notice

    - unless alert.blank?
      %p.alert.alert-warning= alert

    .row
      .col-md-12
        = yield
